/* General  */
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
}
body {
    font-size: 1.6rem;
    background-color: whitesmoke;
    text-align: center;
    user-select: none;
}
/* Header */
.bigcontainer{
    box-sizing: border-box;
    flex-flow: column nowrap;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10rem;
    padding: 1rem 0;
}
.header__card{
    background-color: #E2E1E1;
    box-sizing: border-box;
    height: 80%;
    padding: 1rem;
    border-radius: 20% / 5rem ;
    color: rgba(37, 34, 34, 0.8);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__card-timer-container {
    display: flex;
    align-items: center;
}

.header__card-timer{
    margin: 0 0.5rem;
    box-sizing: border-box;
    font-size: 3rem;
    height: 100%;
}

.header__heading{
    font-size: 8rem;
    display: inline-block;
    font-weight: bold;
    color: rgba(37, 34, 34, 0.8);
}
/* Sudoku Board */
.sudoku-board{
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.sudoku-board__row{
    box-sizing: border-box;
    flex-flow: row nowrap;
    width: 100%;
    padding: 0.25rem;
}
.sudoku-board__cell{
    border: none;
    border-radius: 25%;
    width: 7vh;
    height: 7vh;
    color: rgba(37, 34, 34, 0.8);
    font-size: 5rem;
    text-align: center;
}

.sudoku-board__cell::selection {
    background-color: rgba(26, 243, 99, 0);
    color: rgba(2, 88, 77, 0.8);
}

.sudoku-board__cell:focus {
    outline: none;
    caret-color: transparent;
  }
.sudoku-board__cell:disabled{
    color: rgba(10, 10, 10, 0.85);
}

.sudoku-board__cell--group1{
    background-color: rgba(238, 167, 61, 0.4);
}

.sudoku-board__cell--group1:focus, .sudoku-board__cell--group1:hover {
    background-color: rgba(201, 138, 45, 0.733);
}

.sudoku-board__cell--group2{
    background-color: rgba(240, 100, 216, 0.4);
}

.sudoku-board__cell--group2:focus , .sudoku-board__cell--group2:hover {
    background-color: rgba(202, 80, 182, 0.705);
}

.sudoku-board__cell--group3{
    background-color: rgba(126, 76, 243, 0.4);
}

.sudoku-board__cell--group3:focus , .sudoku-board__cell--group3:hover{
    background-color: rgba(102, 60, 201, 0.623);
}

.sudoku-board__cell--group4{
    background-color: rgba(61, 188, 238, 0.4);
}

.sudoku-board__cell--group4:focus, .sudoku-board__cell--group4:hover{
    background-color: rgba(53, 159, 201, 0.678);
}

.sudoku-board__cell--group5{
    background-color: rgba(53, 156, 70, 0.4);
}

.sudoku-board__cell--group5:focus , .sudoku-board__cell--group5:hover{
    background-color: rgba(38, 117, 51, 0.589);
}

.sudoku-board__cell--group6{
    background-color: rgba(172, 31, 201, 0.4);
}

.sudoku-board__cell--group6:focus, .sudoku-board__cell--group6:hover{
    background-color: rgba(143, 23, 167, 0.685);
}

.sudoku-board__cell--group7{
    background-color: rgba(107, 182, 22, 0.4);
}

.sudoku-board__cell--group7:focus, .sudoku-board__cell--group7:hover {
    background-color: rgba(85, 145, 18, 0.671);
}

.sudoku-board__cell--group8{
    background-color: rgba(238, 234, 22, 0.473);
}

.sudoku-board__cell--group8:focus, .sudoku-board__cell--group8:hover {
    background-color: rgba(196, 193, 19, 0.726);
}

.sudoku-board__cell--group9{
    background-color: rgba(182, 122, 33, 0.4);
}

.sudoku-board__cell--group9:focus, .sudoku-board__cell--group9:hover{
    background-color: rgba(141, 95, 25, 0.664);
}

.sudoku-board__cell--placed{
    background-color: rgba(80, 226, 36, 0.6);
}

.sudoku-board__cell--unplaced{
    background-color: rgba(216, 27, 59, 0.6);
}

/* tips */
.tips {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

/* buttons Panel */

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer__button {
    width: 21vh;
    height: 7vh;
    margin: 0 1rem;
    border: none;
    background-color: #E2E1E1;
    border-radius: 20% / 5rem ;
    background-position: center;
    background-size: contain;
}
.buttonContainer__button:focus {
    outline: none;
  }

.buttonContainer__button--gen {
    background-image: url(../assests/new-puzzle.PNG);
}

.buttonContainer__button--solve {
    background-image: url(../assests/solve-puzzle.PNG);
}

.buttonContainer__button--clear {
    background-image: url(../assests/clear-puzzle.PNG);
}


/* Screen block */
.block-screen {
    /* background-color: rgba(107, 182, 22, 0.4); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.block-screen--blocked {
    display: block;
}